
name: C/C++ CI

on:
  push:
    branches: [ testing ]
  pull_request:
    branches: [ testing ]

jobs:

  build:
  
    runs-on: ubuntu-latest

    steps:
    
      - uses: actions/checkout@v1
      - name: install valgrind and cpplint
      
        run: |
          sudo apt install valgrind
          sudo pip install cpplint
      - name: compiling and test
        
        run: |
           make -C lab1/
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
